body {
  background-color: rgb(29, 25, 44);
  color: white;
  font-family: calibri;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#scoreLink {
  text-decoration: none;
  color: violet
}

main {
  display: flex;
  flex-direction: column;
  padding: 5%;
}

form {
  display: none;
  font-size: 30px;
}

button, input[type=submit] {
  background-color:indigo;
  border-color: indigo;
  color: white;
  font-size: 25px;
  padding: 5px;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

button:hover {
  background-color: violet;
  border-color: violet;
}

#choices {
  display: none;
  list-style-type: none;
}

.choice {
  text-align: left;
  min-width: 40%;;
}

#start {
  min-width: fit-content;
}

#scoreboard {
  color: black;
  background-color: lavender;
  display: none;
  width: 50%;
}

ol {
  list-style: none;
  counter-reset: olCounter;
  padding-left: 1%;
}

li {
  counter-increment: olCounter;
  padding: 5px;
}

#scoreboard li {
  font-size: 20px;
}

#scoreboard li::before, li button::before {
  content: counter(olCounter) ". ";
}

#highScoreOptions {
  display: none;
}

hr {
  width: 100%;
  margin-top: 3%;
}

@media screen and (max-width: 1183px) {

}

@media screen and (max-width: 504px) {

}