body {
  background-color: rgb(29, 25, 44);
  color: white;
  font-family: calibri;
  line-height: 1.3;
  display: flex;
  flex-direction: column;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

#scores {
  text-decoration: none;
  color: violet
}

main {
  display: flex;
  flex-direction: column;
}

button {
  background-color:indigo;
  border-color: indigo;
  color: white;
  font-size: 25px;
  padding: 5px;
  max-width: fit-content;
  padding-left: 20px;
  padding-right: 20px;
  border-radius: 10px;
}

button:hover {
  background-color: violet;
  border-color: violet;
}

main {
  padding: 5%;
}

hr {
  width: 100%;
}

#answer {
  color: white
}

@media screen and (max-width: 1183px) {
  button {
    background-color: aqua;
    font-size: 15px;
  }
}

@media screen and (max-width: 504px) {
  button {
    background-color: red;
    font-size: 10px;
  }
}